openai==0.27.9
langchain
docx2txt
pypdf
streamlit
chromadb==0.3.29 # version because of Sqlite error on Streamlit Community Sharing
tiktoken
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
